<h2>Search Results</h2>

<% if @new_author. nil? %>
   <p>Did you mean?</p>
   <ul>
      <% @choose_author.each do |author| %>
      <li><%= link_to author, authors_path(name: author), :method => :post %></li>
      <% end %>
<% else %>
   <h3><%= link_to @new_author, authors_path(name: @new_author), :method => :post %></h3>
<% end %>
   </ul>

<%= link_to "None of these are correct", new_author_path %>