<h2><%= @user.name %></h2>
<p><%= @user.email %></p>

   <%= link_to "Edit", edit_user_path(@user) %>
   
   <h3>My Favorites</h3>
   <ul>
   <% @user.authors.each do |author|  %>
      <li><%= author.name %></li>
   <% end %>
   </ul>